@model Application.ViewModels.Generos.SaveGeneroViewModel
@{
    ViewData["Title"] = "Borrar Genero";
}

<div class="container mt-5">
    <div class="border rounded-3 p-4 mt-4 bg-dark-subtle text-center">
        <h3 class="mb-3">¿Esta seguro que desea eliminar el genero @Model.Name?</h3>

        <form asp-asp-controller="Genero" asp-action="DeleteGenero">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Borrar</button>
            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>


        </form>
    </div>
</div>
